---
import Icon from './Icon.astro';
---

<button
  id="theme-toggle"
  class="theme-toggle needs-js"
  type="button"
  aria-label="Toggle color theme"
  title="Toggle light / dark"
>
  <Icon name="moon" class="icon-moon" size="1.1rem" />
  <Icon name="sun" class="icon-sun" size="1.1rem" />
</button>
